* {
    font-family: sans-serif;
    line-height: 1.4em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
    margin-top: 3em;
}

header,
main,
footer {
    margin: 0 auto;
    max-width: 800px;
}

body {
    color:gold;
    background-image: url(/Images/computer.jpg);
    background-size: cover;
}
#image {
    display: block;
    margin: 0 auto 0 auto;
    height: 460px;
    width: 320px;
    border-radius: 5.5em;
    border: 1rem solid rgb(134, 125, 72);
    
}

header {
    padding: 4em;
    text-align: center;
}

header h1 {
    font-size: 3em;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    display: flex;
    flex-flow: row;
    justify-content: center;
    
}

nav a {

    padding: .5em 2em;
    color: gold;
}

nav a:hover {
    background: green;
}

section {
    margin: 1em 0;
    padding: 3em;
    min-height: 20em;
}

section ul {
    padding-left: 1.5em;
}

#aboutMe {
    display: grid;
    grid-template-rows: auto;
}

#aboutMe {
    width: 100%;
    border: 1rem solid rgb(134, 125, 72);
}

#myProjects {
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
}

#myProjects {
    border: 1rem solid rgb(134, 125, 72);
}

#contactInfo {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
}

#contactInfo {

    border: 1rem solid rgb(134, 125, 72);
}
section > p {
    margin: 1em;
}

footer {
    margin-top: 2em;
    margin-bottom: 1em;
    background: rgb(134, 125, 72);
    padding: 1em 0;
    text-align: center;
}

#one a{
    color: greenyellow;
}




